<div class="panel ItauPoCHistoryPanel">
	<h3 class="ItauPoCPanelTitle">My Branch History</h3>
	<br>
	<nav class="navbar ItauPoCToolbar">
		<ul class="nav navbar-nav">
			<li>
				<label class="ItauPoCSelectLabel">
					<select
						class="ItauPoCSelect"
						ng-options="option.name for option in timeRangeSelection.values"
						ng-model="timeRangeSelection.selectedValue"
						ng-change="onTimeRangeSelectionChanged($scope)">
					</select>
				</label>
			</li>
			<li>
				<label class="ItauPoCSelectLabel">
					<select
						class="ItauPoCSelect"
						ng-options="options.USER_FULLNAME for options in userSelection.values"
						ng-model="userSelection.selectedValue"
						ng-change="onUserSelectionChanged($scope)">
					</select>
				</label>
			</li>
		</ul>
	</nav>


	<div class="ItauPoCCustomDateTimePickerContainer" ng-show="timeRangeSelection.enableCustomSelection">
		<input class="ItauPoCCustomDateTimePicker" ng-value="customStartDateSelection" ng-model="timeRangeSelection.customStartDateSelection" readonly/>
		<input class="ItauPoCCustomDateTimePicker" ng-value="customEndDateSelection" ng-model="timeRangeSelection.customEndDateSelection" readonly/>
		<input type="button" value="Search" ng-click="_refreshChartData();">
	</div>


	<nav class="navbar ItauPoCToolbar ItauPoCToolbarBackgroundPainted">
		<ul class="nav navbar-nav">
			<li>
				<span class="ItauPoCToolbarText">Average SLA for answered medias</span>
			</li>
			<li>
				<div class="btn-group" data-toggle="buttons">
					<!-- <label class="btn ItauPoCFilterButton active" ng-click="handleMediaFilterPressed('ALL')">
						<input type="radio" checked> All Medias
					</label> -->
					<label class="btn ItauPoCFilterButton active" ng-click="handleMediaFilterPressed('VOICE')">
						<i class="fa fa-phone"></i>
						<input type="radio" checked> Calls
					</label>
					<label class="btn ItauPoCFilterButton" ng-click="handleMediaFilterPressed('EMAIL')">
						<i class="fa fa-envelope"></i>
						<input type="radio"> Emails
					</label>
					<label class="btn ItauPoCFilterButton" ng-click="handleMediaFilterPressed('SMS')">
						<i class="fa fa-comment"></i>
						<input type="radio"> SMS
					</label>
					<label class="btn ItauPoCFilterButton" ng-click="handleMediaFilterPressed('CHAT')">
						<i class="fa fa-comments"></i>
						<input type="radio"> Chats
					</label>
				</div>
			</li>
		</ul>
	</nav>
	<div class="ItauPoCHistoryContainer">
		<div>
			<div class="ItauPoCSelectionRangeInformationBar">
				<span>{{timeRangeSelection.selectedValue.name}}:</span>
				<span class="ItauPoCTextBold">{{timeRangeSelection.selectedDateRepresentation}}</span>
			</div>
			<scatter-plot-with-line-chart data="branchSLAData" style="height:300px"/>
		</div>
		<br>
		<br>
		<div class="collapsed ItauPoCCollapsible" data-toggle="collapse" data-target="#avg-medias-per-manager">
			<i class="fa ItauPoCMediasTabChildCollapsibleIcon ItauPoCTextBold"></i>
			<span class="ItauPoCTextBold">Average answered medias per manager - </span>
			<span>{{timeRangeSelection.selectedDateRepresentation}}<span>
			</div>

			<div id="avg-medias-per-manager" class="collapse">
				<div class="container-fluid">
					<table class="table table-striped ItauPoCHistoryTable">
						<thead>
							<tr class="ItauPoCHistoryTableHeader">
								<th>
									<span>Name</span>
								</th>
								<th>
									<span>Total Received</span>
								</th>
								<th>
									<span>Total Answered</span>
								</th>
								<th>
									<span>Total Lost</span>
								</th>
								<th>
									<span>Comparision SLA</span>
									<i class="fa fa-square ItauPoCFontColorGood"></i>
									<span>Answered</span>
									<i class="fa fa-square ItauPoCFontColorBad"></i>
									<span>Lost</span>
								</th>
							</tr>

							<tr class="ItauPoCTableHeaderNoBorder">

								<th>
									<span>My Branch</span>
								</th>
								<th>
									<span>86.000</span>
								</th>
								<th>
									<span>84.000</span>
								</th>
								<th>
									<span>2.000</span>
								</th>
								<th>
									<diff-bar-chart value="20" height="15" width="200"/>
								</th>

							</tr>
						</thead>
						<tfoot></tfoot>
						<tbody>

							<tr>
								<td>
									<img class="ItauPoCMediaManagerTableAvatar" src="/data/img/usr2.jpg"/>
									<i class="fa fa-circle ItauOnlineIconColor"></i>
									<span>Arron Hamilton (12)</span>
								</td>
								<td>
									<span>60</span>
								</td>
								<td>
									<span>55</span>
								</td>
								<td>
									<span>5</span>
								</td>
								<td>
									<diff-bar-chart value="30" height="15" width="200"/>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>



		<hr>



		<br>
		<nav class="navbar ItauPoCToolbar ItauPoCToolbarBackgroundPainted">
			<ul class="nav navbar-nav">
				<li>
					<span class="ItauPoCToolbarText">Average agenda completion</span>
				</li>
			</ul>
		</nav>
		<div class="ItauPoCHistoryContainer">
			<div>
				<div class="ItauPoCSelectionRangeInformationBar">
					<span>{{timeRangeSelection.selectedValue.name}}:</span>
					<span class="ItauPoCTextBold">{{timeRangeSelection.selectedDateRepresentation}}</span>
				</div>
				<scatter-plot-with-line-chart data="agendaCompletionData" style="height:300px"/>
			</div>
			<br>
			<br>
			<div class="collapsed ItauPoCCollapsible" data-toggle="collapse" data-target="#avg-agenda-completion">
				<i class="fa ItauPoCMediasTabChildCollapsibleIcon ItauPoCTextBold"></i>
				<span class="ItauPoCTextBold">Average answered medias per manager - </span>
				<span>{{timeRangeSelection.selectedDateRepresentation}}<span>
				</div>

				<div id="avg-agenda-completion" class="collapse">
					<div class="container-fluid">
						<table class="table table-striped ItauPoCHistoryTable">
							<thead>
								<tr class="ItauPoCHistoryTableHeader">
									<th>
										<span>Name</span>
									</th>
									<th>
										<span>Total Received</span>
									</th>
									<th>
										<span>Total Answered</span>
									</th>
									<th>
										<span>Total Lost</span>
									</th>
									<th>
										<span>Comparision SLA</span>
										<i class="fa fa-square ItauPoCFontColorGood"></i>
										<span>Answered</span>
										<i class="fa fa-square ItauPoCFontColorBad"></i>
										<span>Lost</span>
									</th>
								</tr>

								<tr class="ItauPoCTableHeaderNoBorder">

									<th>
										<span>My Branch</span>
									</th>
									<th>
										<span>86.000</span>
									</th>
									<th>
										<span>84.000</span>
									</th>
									<th>
										<span>2.000</span>
									</th>
									<th>
										<diff-bar-chart value="20" height="15" width="200"/>
									</th>

								</tr>
							</thead>
							<tfoot></tfoot>
							<tbody>

								<tr>
									<td>
										<img class="ItauPoCMediaManagerTableAvatar" src="/data/img/usr2.jpg"/>
										<i class="fa fa-circle ItauOnlineIconColor"></i>
										<span>Arron Hamilton (12)</span>
									</td>
									<td>
										<span>60</span>
									</td>
									<td>
										<span>55</span>
									</td>
									<td>
										<span>5</span>
									</td>
									<td>
										<diff-bar-chart value="30" height="15" width="200"/>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
